body, .main-header__title, .main-header__subtitle, .main-header__features-list, .main-header__features-text, .main-header__requests-list, .phone, .logo {
  margin: 0;
  padding: 0; }

.main-header__wrapper {
  width: 940px;
  margin: 0 auto; }

body {
  font-family: 'Lato', sans-serif; }

.main-header {
  background-image: url("../img/header__img.png");
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  text-align: center; }
  .main-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 25px; }
  .main-header__title {
    font-size: 48px;
    text-transform: uppercase;
    margin-top: 110px; }
  .main-header__subtitle {
    font-size: 30px;
    line-height: 46px; }
  .main-header__features-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 90px; }
  .main-header__features-item {
    width: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .main-header__features-text {
    padding-top: 20px; }
  .main-header__requests-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .main-header__requests-item {
    width: 250px; }

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .phone__number {
    font-size: 28px; }
  .phone__back-call {
    font-size: 16px;
    color: #d91233; }

.logo {
  font-size: 30px;
  line-height: 46px;
  color: #5a5a5a;
  text-transform: uppercase; }

.button {
  display: inline-block;
  border-radius: 25%;
  background-color: #d91233;
  color: #ffffff; }
