%margins {
  margin: 0;
  padding: 0;
}
%wrapper {
  width: 940px;
  margin: 0 auto;
}
%form__paddings {
  padding-top: 50px;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 55px;
}

%request__width {
  width: 240px;
  height: 40px;
  box-sizing: border-box;
  border: none;
}

$colorRed: #d91233;

body {
  font-family: 'Lato', sans-serif;
  @extend %margins;
}

.form {
  border: 5px solid white;
  &__row {
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    &_no-margin {
      margin-bottom: 0;
    }
  }
  &__label {
    position: absolute;
    transform: translateY(-20px);
    font-size: 13px;
    font-weight: 700;
  }
}

.phone {
  display:flex;
  flex-direction: column;
  @extend %margins;
  &__number {
    font-size: 28px;
  }
  &__back-call {
    font-size: 16px;
    color: #d91233;
  }
}

.logo {
  @extend %margins;
  font-size: 30px;
  line-height: 46px;
  color: #5a5a5a;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  border-radius: 25px;
  border: 2px solid $colorRed;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 45px;
  text-decoration: none;
  box-sizing: border-box;
  height: 50px;
  width: 240px;
  &:hover,
  &:focus {
    background-color: $colorRed;
  }
  &_red {
    background-color: $colorRed;
    cursor: pointer;
    &:hover,
    &:focus {
      opacity: 0.85;
    }
  }
  &_width {
    width: 300px;
  }
}

.main-header {
  background-image: url("../img/header__img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #282a29;
  color: #ffffff;
  text-align: center;
  &__wrapper {
    @extend %wrapper;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  &__title {
    font-size: 48px;
    text-transform: uppercase;
    @extend %margins;
    margin-top: 110px;
  }
  &__subtitle {
    font-size: 30px;
    line-height: 46px;
    @extend %margins;
  }
  &__features-list {
    @extend %margins;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
  }
  &__features-item {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__features-text {
    @extend %margins;
    padding-top: 20px;
  }
  &__requests-list {
    list-style: none;
    display: flex;
    justify-content: center;
    @extend %margins;
    margin-top: 100px;
  }
  &__requests-item {
    width: 250px;
  }
  &__requests-desc {
    font-size: 14px;
    @extend %margins;
    margin-top: 20px;
    margin-bottom: 80px;
  }
}

.benefits {
  &__list {
    list-style: none;
    @extend %margins;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
  }
  &__wrapper {
    @extend %wrapper;
  }
  &__item {

  }
}

.benefit {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__img {
    order: -1;
    margin-bottom: 30px;
    margin-top: 80px;
  }
  &__title {
    @extend %margins;
    margin-bottom: 20px;
  }
  &__desc {
    @extend %margins;
  }
}

.request {
  background-color: #ebebeb;
  &__title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    @extend %margins;
    padding-top: 75px;
    padding-bottom: 15px;
  }
  &__desc {
    text-align: center;
    @extend %margins;
    margin-bottom: 55px;
  }
  &__form {
    display: flex;
    justify-content: center;
    padding: 50px 55px;
  }
  &__column {
    width: 240px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:last-child {
      margin-right: 0px;
    }
  }
  &__wrapper {
    @extend %wrapper;
    padding-bottom: 80px;
  }
  &__select {
    @extend %request__width;
  }
  &__text {
    @extend %request__width;
  }
  &__textarea {
    width: 240px;
    height: 125px;
    box-sizing: border-box;
    border: none;
    resize: none;
    margin-bottom: 20px;
  }
  &__submit {
    margin-bottom: 15px;
  }
}

.in-stock {
  text-align: center;
  &__wrapper {
    @extend %wrapper;
  }
  &__title {
    font-size: 30px;
    font-weight: 700;
    @extend %margins;
    margin-top: 75px;
    margin-bottom: 60px;
  }
  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @extend %margins;
  }
  &__item {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    opacity: 0.2;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.live {
  text-align: center;
  &__wrapper {
    @extend %wrapper;
  }
  &__title {
    @extend %margins;
    margin-top: 75px;
    margin-bottom: 55px;
    font-size: 30px;
    font-weight: 700;
  }
  &__video {
    padding: 15px;
    border: 5px solid #f2f2f2;
  }
}

.comments {
  background-color: #ebebeb;
  &__wrapper {
    @extend %wrapper;
  }
  &__title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-top: 70px;

  }
  &__list {
    list-style: none;
    @extend %margins;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 80px;
  }
  &__item {
    width: 350px;
    margin-left: 110px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
  }
  &__photo {
    position: absolute;
    transform: translateX(-110px);
  }
  &__subtitle {
    @extend %margins;
    font-size: 16px;
    font-weight: 700;
    color: #d91233;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__name {
    order: -1;
    font-size: 12px;
    font-weight: 700;
    color: #757575;
  }
  &__text {
    @extend %margins;
    font-size: 13px;
    font-weight: 700;
  }
}

.consultation {
  background-color: #dbdbdb;
  text-align: center;
  &__wrapper {
    @extend %wrapper;
    padding-bottom: 80px;
  }
  &__title {
    font-size: 30px;
    @extend %margins;
    padding-top: 80px
  }
  &__desc {
    font-size: 16px;
  }
  &__form {
    @extend %form__paddings;
    padding-top: 75px;
  }
  &__text {
    height: 45px;
    width: 290px;
    border: none;
    margin-right: 40px;
    font-size: 20px;
    &_no-margin {
      margin-right: 0;
    }
  }
  &__row {
    display: inline-block;
    margin-bottom: 40px;
  }
  //попробовать перенести код формы в модификаторы что бы не плодить микс
}

.contacts {
  &__wrapper {
    @extend %wrapper;
    position: relative;
  }
  &__container {
    position: absolute;
    width: 480px;
    background-color: #d91233;
    color: white;
    text-align: center;
    top: 50px;
    left: 230px;
    padding-bottom: 40px;
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
  }
  &__address {
    font-size: 20px;
  }
  &__phone {
    font-size: 20px;
    font-weight: 700;
  }
  &__email {
    color: white;
  }
}

.main-footer {
  &__wrapper {
    @extend %wrapper;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.modal {
  //position: fixed;
  display: none;
  position: fixed;
  text-align: center;
  background-color: white;
  width: 320px;
  padding: 40px 50px;
  top: 150px;
  left: 50%;
  margin-left: -210px;
  z-index: 2;
  &_show {
    display: block;
  }
  &__title {
    font-size: 20px;
    font-weight: 700;
    @extend %margins;
  }
  &__close {
    position: absolute;
    top: 10px;
    left: 430px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    &::after {
      content: "";
      display: block;
      background-image: url("../img/cross.png");
      width: 22px;
      height: 22px;
    }
  }
}

.modal-form {
  &__input {
    display: inline-block;
    height: 40px;
    width: 270px;
    box-sizing: border-box;
    border: 1px solid #d0d0d0;
    color: #676767;
    padding-left: 15px;
    font-size: 15px;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  &_show {
    display: block;
  }
}

.visually-hidden {
  display: none;
}
